<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: frgHead"></head>
<body>
<div id="wrapper">
	<div th:replace="layout :: frgNavigation"></div>
	<div th:replace="layout :: frgHeaderSection"></div>
	<div id="content-wrapper" class="d-flex flex-column">
		<!-- Begin Page Content -->
		<div class="container">
			<div class="container-fluid">			
				<br />
		<div class="card col-md-12">
			<div class="card-body">
				<div class="form-group row">
					<div class="content col-sm-1">
						<i class="fas fa-utensils fa-2x"></i>
					</div>
					<h4 class="card-title col-sm-10" th:text="${title}"></h4>					
				</div>
				<hr />
				
				<form th:action="@{/pedido/save}" th:object="${pedido}" method="post">
						
					<div class="form-group row">
						<div class="content col-sm-3">
							<i class="fas fa-street-view"></i>
							<label class="h5 col-form-label">&nbsp;Direccion:</label>						
						</div>
						<div class="content col-sm-6">							
							<input class="form-control" type="text" 
								th:field="*{direccion}"
								th:errorclass="'form-control is-invalid'" />
							<small class="invalid-feedback"
							th:if="${#fields.hasErrors('direccion')}"
							th:errors="*{direccion}"></small>											
						</div>
					</div>
									
					

				</form>
			</div>
		</div>
			</div>
			<br />
			<br />
			<footer th:replace="layout :: frgFooter"></footer>
		</div>
	</div>
</div>
</body>
</html>