<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: frgHead"></head>
<body>
<div id="wrapper">
	<div th:replace="layout :: frgNavigation"></div>
	<div th:replace="layout :: frgHeaderSection"></div>
	<div id="content-wrapper" class="d-flex flex-column">
		<!-- Begin Page Content -->
		<div class="container">
			<div class="container-fluid">				
				<br />
				<div class="card col-md-12">
					<div class="card-body">
						<div class="form-group row">
							<h3 class="card-title col-sm-10" th:text="${title}"></h3>
						</div>
						<hr />
						<table class="table table-hover">
							<thead>
								<tr>
									<th><i class="far fa-envelope"></i>&nbsp;Correo</th>
									<th><i class="far fa-user"></i>&nbsp;Nombre</th>
									<th><i class="fas fa-mobile-alt"></i>&nbsp;Celular</th>
									<th><i class="far fa-calendar-alt"></i>&nbsp;Nacimiento</th>
																
									<th></th>
								</tr>
							</thead>
							<tbody>						
								<tr th:each="cliente : ${list}" >
									<td th:text="${cliente.correo}"></td>
									<td th:text="${cliente.nombres + ' ' + cliente.apellidos}"></td>
									<td th:text="${cliente.celular}"></td>
									<td th:text="${#dates.format(cliente.fNacimiento, 'dd-MMMM-yyyy')}"></td>
									
									<td>
										<div class="row">
											<a class="btn btn-sm btn-warning" title="Editar"
											   th:href="@{/cliente/update/} + ${cliente.idPersona}">
												<i class="far fa-edit"></i>
											</a>
											&nbsp;&nbsp;&nbsp;
											<a class="btn btn-sm btn-info" title="Ver"
											    th:href="@{/cliente/retrieve/} + ${cliente.idPersona}">
												<i class="far fa-id-card"></i>
											</a>									
										</div>
									</td>							
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<br />
			<br />
			<footer th:replace="layout :: frgFooter"></footer>
		</div>
	</div>
</div>
</body>
</html>