<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: frgHead"></head>
<body>
<div id="wrapper">
	<div th:replace="layout :: frgNavigation"></div>
	<div th:replace="layout :: frgHeaderSection"></div>
	<div id="content-wrapper" class="d-flex flex-column">
		<!-- Begin Page Content -->
		<div class="container">
			<div class="container-fluid">
				<br />

		<div class="card col-md-12">
			<div class="card-body">
				<div class="form-group row">
					<div class="content col-sm-1">
						<i class="far fa-id-card fa-2x"></i>
					</div>
					<h4 class="card-title col-sm-7"	th:text="${title}"></h4>
					<div class="col-sm-4">
						<button class="btn btn-danger" data-toggle="modal" data-target="#deleteModal"
						th:if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_RESTAURANTE'')')}">
						<i class="far fa-trash-alt"></i>&nbsp;Eliminar</button>
						<a class="btn btn-primary" th:href="@{/platillo/list}"><i
							class="fas fa-arrow-left"></i>&nbsp;Volver</a>
					</div>
				</div>
				<input type="hidden" id="idplatillo"
					th:value="${platillo.idplatillo}" />
				<hr />
				<div class="row">
					<div class="col-md-12">
						<div class="form-group row">
							<div class="content col-sm-3 bg-light">
								<i class="fas fa-store-alt"></i> <label class="h5 col-form-label">&nbsp;Restaurante:</label>
							</div>
							<div class="col-sm-8">
								<h6 class="card-text" th:text="${platillo.restaurante.nombre}"></h6>
							</div>
						</div>
						<div class="form-group row">
							<div class="content col-sm-3 bg-light">
								<i class="fas fa-utensils"></i> <label class="h5 col-form-label">&nbsp;Nombre:</label>
							</div>
							<div class="col-sm-8">
								<h6 class="card-text" th:text="${platillo.nombre}"></h6>
							</div>
						</div>
						<div class="form-group row">
							<div class="content col-sm-3 bg-light">
								<i class="fas fa-coins"></i> <label class="h5 col-form-label">&nbsp;Precio:</label>
							</div>
							<div class="col-sm-8">
								<h6 class="card-text" th:text="${platillo.precio}"></h6>
							</div>
						</div>
						<div class="form-group row">
							<div class="content col-sm-3 bg-light">
								<i class="far fa-sticky-note"></i> <label class="h5 col-form-label">&nbsp;Descripci&oacute;n:</label>
							</div>
							<div class="col-sm-8">
								<h6 class="card-text" th:text="${platillo.descripcion}"></h6>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="deleteModal" class="modal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">¿Desea eliminar el platillo?</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p th:text="${platillo.nombre}"></p>
					</div>
					<div class="modal-footer">						
						<button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
						<a th:href="@{/platillo/delete/} + ${platillo.idplatillo}" class="btn btn-success">Confirmar</a>
					</div>
				</div>
			</div>
		</div>
			</div>
			<br />
			<br />
			<footer th:replace="layout :: frgFooter"></footer>
		</div>
	</div>
</div>
</body>
</html>