<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: frgHead"></head>
<body>
<div id="wrapper">
	<div th:replace="layout :: frgNavigation"></div>
	<div th:replace="layout :: frgHeaderSection"></div>
	<div id="content-wrapper" class="d-flex flex-column">
		<!-- Begin Page Content -->
		<div class="container">
			<div class="container-fluid">				
				<br />
				<div class="card col-md-12">
					<div class="card-body">
						<div class="form-group row">
							<h3 class="card-title col-sm-10" th:text="${title}"></h3>
						</div>
						<hr />
						<table class="table table-hover">
							<thead>
								<tr>
									<th><i class="fas fa-utensils"></i>&nbsp;Nombre</th>
									<th><i class="fas fa-coins"></i>&nbsp;Precio</th>
									<th><i class="far fa-sticky-note"></i>&nbsp;Descripcion</th>
																
									<th><a class="btn btn-sm btn-success" th:href="@{/platillo/create}"
									th:if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_RESTAURANTE'')')}">
										<i class="fas fa-plus"></i>&nbsp;Nuevo</a>
									</th>
								</tr>
							</thead>
							<tbody>						
								<tr th:each="platillo : ${list}" >
									<td th:text="${platillo.nombre}"></td>
									<td th:text="${platillo.precio}"></td>
									<td th:text="${platillo.descripcion}"></td>
									
									<td>
										<div class="row">
											<a class="btn btn-sm btn-warning" title="Editar"
											   th:href="@{/platillo/update/} + ${platillo.idplatillo}"
											   th:if="${#authorization.expression('hasAnyRole(''ROLE_ADMIN'',''ROLE_RESTAURANTE'')')}">
												<i class="far fa-edit"></i>
											</a>
											&nbsp;&nbsp;&nbsp;
											<a class="btn btn-sm btn-info" title="Ver"
											    th:href="@{/platillo/retrieve/} + ${platillo.idplatillo}">
												<i class="far fa-id-card"></i>
											</a>									
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<br />
			<br />
			<footer th:replace="layout :: frgFooter"></footer>
		</div>
	</div>
</div>
</body>
</html>