<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: frgHead"></head>
<body>
<div id="wrapper">
	<div th:replace="layout :: frgNavigation"></div>
	<div th:replace="layout :: frgHeaderSection"></div>
	<div id="content-wrapper" class="d-flex flex-column">
		<!-- Begin Page Content -->
		<div class="container">
			<div class="container-fluid">			
				<br />
		<div class="card col-md-12">
			<div class="card-body">
				<div class="form-group row">
					<div class="content col-sm-1">
						<i class="fas fa-store-alt fa-2x"></i>
					</div>
					<h4 class="card-title col-sm-10" th:text="${title}"></h4>					
				</div>
				<hr />
				
				<form th:action="@{/restaurante/save}" th:object="${restaurante}" method="post">
						
					<div class="form-group row">
						<div class="content col-sm-3">
							<i class="fas fa-info-circle"></i>
							<label class="h5 col-form-label">&nbsp;Nombre:</label>						
						</div>
						<div class="content col-sm-6">							
							<input class="form-control" type="text" 
								th:field="*{nombre}"
								th:errorclass="'form-control is-invalid'" />
							<small class="invalid-feedback"
							th:if="${#fields.hasErrors('nombre')}"
							th:errors="*{nombre}"></small>										
						</div>
					</div>
									
					<div class="form-group row">
						<div class="content col-sm-3">
							<i class="far fa-envelope"></i>
							<label class="h5 col-form-label">&nbsp;Correo:</label>						
						</div>
						<div class="content col-sm-6">							
							<input class="form-control" type="text" 
								th:field="*{correo}"
								th:errorclass="'form-control is-invalid'" />
							<small class="invalid-feedback"
							th:if="${#fields.hasErrors('correo')}"
							th:errors="*{correo}"></small>									
						</div>
					</div>
					
					<div class="form-group row">
						<div class="content col-sm-3">
							<i class="fas fa-utensils"></i>
							<label class="h5 col-form-label">&nbsp;Tipo:</label>						
						</div>
						<div class="content col-sm-6">							
							<select class="nice-select wide form-control" th:field="*{tipo}" th:errorclass="'form-control is-invalid'">
								<option value="">---   Tipo   ---</option>
								<option value="Comida rápida">Comida rápida</option>
								<option value="Comida rápida">Familiar</option>
								<option value="No desarrollada">Buffet</option>
								<option value="De especialidad - China">De especialidad - China</option>
								<option value="De especialidad - Mexicana">De especialidad - Mexicana</option>
								<option value="De especialidad - Italiana">De especialidad - Italiana</option>
								<option value="De especialidad - Pescados y Mariscos">De especialidad - Pescados y Mariscos</option>
							</select>
							<small class="invalid-feedback"
							th:if="${#fields.hasErrors('tipo')}"
							th:errors="*{tipo}"></small>								
						</div>
					</div>
					
					<div class="form-group row">
						<div class="content col-sm-3">
							<i class="fas fa-mobile-alt"></i>
							<label class="h5 col-form-label">&nbsp;Celular:</label>						
						</div>
						<div class="content col-sm-6">							
							<input class="form-control"
								th:field="*{celular}"
								th:errorclass="'form-control is-invalid'" />
							<small class="invalid-feedback"
							th:if="${#fields.hasErrors('celular')}"
							th:errors="*{celular}"></small>									
						</div>
					</div>
					
					<div class="form-group row">
						<div class="content col-sm-3">
							<i class="fas fa-route"></i>
							<label class="h5 col-form-label">&nbsp;Direccion:</label>						
						</div>
						<div class="content col-sm-6">							
							<input class="form-control" type="text" 
								th:field="*{direccion}"
								th:errorclass="'form-control is-invalid'" />
							<small class="invalid-feedback"
							th:if="${#fields.hasErrors('direccion')}"
							th:errors="*{direccion}"></small>									
						</div>
					</div>
					
					<div class="form-group row">
						<div class="content col-sm-3">
							<i class="far fa-window-restore"></i>
							<label class="h5 col-form-label">&nbsp;Sitio web:</label>						
						</div>
						<div class="content col-sm-6">							
							<input class="form-control" type="text" 
								th:field="*{web}"
								th:errorclass="'form-control is-invalid'" />
							<small class="invalid-feedback"
							th:if="${#fields.hasErrors('web')}"
							th:errors="*{web}"></small>										
						</div>
					</div>
					
					<div class="form-group row">
						<div class="content col-sm-3">
							<i class="fas fa-info-circle" aria-hidden="true"></i>
							<label class="h5 col-form-label">&nbsp;Nombre de usuario:</label>
						</div>
						<div class="content col-sm-6">
							<input class="form-control single-input" type="text"
								th:field="*{userRest.nombre}"
								th:errorclass="'form-control is-invalid'"/>
						</div>
					</div>
							
					<div class="form-group row">
						<div class="content col-sm-3">
							<i class="fas fa-info-circle" aria-hidden="true"></i>
							<label class="h5 col-form-label">&nbsp;Contrase&ntilde;a:</label>
						</div>
						<div class="content col-sm-6">
							<input class="form-control single-input" type="password" 
								th:field="*{userRest.contrasenia}"
								th:errorclass="'form-control is-invalid'"/>
						</div>
					</div>
									
					<hr />
					<div class="form-group row">
						<div class="col-sm-4">
							<a class="btn btn-danger" 
								th:href="@{/restaurante/list}">
							<i class="fas fa-minus-circle"></i>&nbsp;Cancelar</a>
							<button class="btn btn-success" type="submit">
								<i class="fas fa-plus-circle"></i>&nbsp;Guardar
							</button>
						</div>
					</div>
					<input type="hidden" th:field="*{idrestaurante}"/>

				</form>
			</div>
		</div>
			</div>
			<br />
			<br />
			<footer th:replace="layout :: frgFooter"></footer>
		</div>
	</div>
</div>
</body>
</html>